:root {
	--color-purple-dark: #454777;
    --color-purple-medium: #9659ac;
    --color-purple-light: #c09ae6;

    --color-green-dark: #454777;
    --color-green-medium: #00B2BF;
    --color-green-light: #00B2BF;


}
.text-em {
	font-weight: bolder;
	text-transform: uppercase;
	color: var(--color-purple-medium);
}
.divid-line {
	border-bottom: 2px dashed var(--color-purple-light);
	margin: 20px;
}
.explorest .divid-line {
	border-bottom: 2px dashed var(--color-green-medium);
	margin: 20px;
}
.explorest .text-em {
	font-weight: bolder;
	text-transform: uppercase;
	color: var(--color-green-medium);
}
.persona img {
	/*border: 1px solid var(--color-purple-dark);*/
	box-shadow: 1px 1px 10px #ddd; 
}