
/* ELEMENT RESETS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Rubik:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC&display=swap');
/**,*::before,*::after {
	box-sizing:inherit;
}*/

:root {
    --color-header: #031b4e;
    --color-content: #323232;
    --color-neutral-light: #405379;
    --color-main-light:#ccc;
    --color-main-medium:#444;
    --color-main-dark:#ccc;
    --color-black:black;
    --color-white:white;
    --header-height:3rem;
}
html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /*padding-bottom: 300px;*/

}
* {
    box-sizing: border-box;
}

h1, h2, h3, h4 ,h5, h6, a, th {
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Montserrat',  sans-serif;*/
	letter-spacing: 0.8px;
	
	color: var(--color-header);
}
h1, h2, h3 {
	margin-bottom: 0.25em;
}
h4,h5,h6 {
	margin-bottom: 0.8em;
	color: var(--color-main-medium);
}
ul,ul>li {
    padding: 0;
    margin: 0;
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*list-style-type: disc;*/
    letter-spacing: 2px;
    line-height: 2.0em;
    font-size: 12px;
    list-style: none;
    color: var(--color-content);
}
ol,ol>li{
	padding: 0;
    margin: 0;
    /*font-weight: 400;*/
    font-style: normal;
    letter-spacing: 2px;
    line-height: 2.0em;
    font-size: 13px;
    list-style: none;
    color: var(--color-content);
    list-style-type: decimal;
}
ol {
	position: relative;
	left: 2rem;
}
ul,ol {
	/*margin: 2rem 1em;*/
}
nav ul,
nav li {
	text-transform: uppercase;
}
a {
    /*outline: none;*/
    padding: 0;
    margin: 0;
    text-decoration: none;
}
p {
    color: var(--color-content);
    font-size: 13px;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    line-height: 2.0em;
    display: block;
    
}

[class*='col-xs-'] {
	/*margin: 10px;*/
}
[class*='col-md-'] {
	/*margin: 200px;*/
}
[class*='col-xl-'] {
	/*margin: 20px;*/
}

[class*='col-']>.card {
	height: 100%;
}
.title-center {
	text-align: center;
}
.title-indent {
	margin-left: 20px;
}
.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 0;
}
.grid-gap-xxs {
	grid-gap: 5px;
}
.grid-gap-xs {
	grid-gap: 10px;
}
.grid-gap-md {
	grid-gap: 30px;
}
.grid-gap-xl {
	grid-gap: 50px;
}
.flex {
	display: flex;
	flex-direction: column;
}
.flex-center-margin-xs>* {
	margin: 10px;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.flex-justify-between {
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-justify-end {
	display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
.flex-align-items-end {
	display: flex;
	align-items: flex-end;
}
.flex-align-content-around {
	display: flex;
	align-content: stretch;
	flex-wrap: wrap;
	/*flex-direction: column;*/
}
/*.flex-align-content-center {
	display: flex;
	align-content: center;
}*/
.flex-width-60 {
	margin: auto;
	width: 60%;
}
.flex-width-70 {
	margin: auto;
	width: 70%;
}
.flex-width-80 {
	margin: auto;
	width: 80%;
}
@media (max-width: 1024px) {
	.flex-width-60 {
		width: 90%;
	}
	.flex-width-70 {
		width: 90%;
	}
	.flex-width-80 {
		width: 90%;
	}
}

.col-1 {	grid-column: span 1;	}
.col-2 {	grid-column: span 2;	}
.col-3 {	grid-column: span 3;	}
.col-4 {	grid-column: span 4;	}
.col-5 {	grid-column: span 5;	}
.col-6 {	grid-column: span 6;	}
.col-7 {	grid-column: span 7;	}
.col-8 {	grid-column: span 8;	}
.col-9 {	grid-column: span 9;	}
.col-10 {	grid-column: span 10;	}
.col-11 {	grid-column: span 11;	}
.col-12 {	grid-column: span 12;	}

@media (min-width: 1024px) {
	.col-xs-1 {	grid-column: span 1;	}
	.col-xs-2 {	grid-column: span 2;	}
	.col-xs-3 {	grid-column: span 3;	}
	.col-xs-4 {	grid-column: span 4;	}
	.col-xs-5 {	grid-column: span 5;	}
	.col-xs-6 {	grid-column: span 6;	}
	.col-xs-7 {	grid-column: span 7;	}
	.col-xs-8 {	grid-column: span 8;	}
	.col-xs-9 {	grid-column: span 9;	}
	.col-xs-10 {grid-column: span 10;	}
	.col-xs-11 {grid-column: span 11;	}
	.col-xs-12 {grid-column: span 12;	}
}
@media (min-width: 1280px) {
	.col-md-1 {	grid-column: span 1;	}
	.col-md-2 {	grid-column: span 2;	}
	.col-md-3 {	grid-column: span 3;	}
	.col-md-4 {	grid-column: span 4;	}
	.col-md-5 {	grid-column: span 5;	}
	.col-md-6 {	grid-column: span 6;	}
	.col-md-7 {	grid-column: span 7;	}
	.col-md-8 {	grid-column: span 8;	}
	.col-md-9 {	grid-column: span 9;	}
	.col-md-10 {grid-column: span 10;	}
	.col-md-11 {grid-column: span 11;	}
	.col-md-12 {grid-column: span 12;	}
}
@media (min-width: 1440px) {
	.col-xl-1 {	grid-column: span 1;	}
	.col-xl-2 {	grid-column: span 2;	}
	.col-xl-3 {	grid-column: span 3;	}
	.col-xl-4 {	grid-column: span 4;	}
	.col-xl-5 {	grid-column: span 5;	}
	.col-xl-6 {	grid-column: span 6;	}
	.col-xl-7 {	grid-column: span 7;	}
	.col-xl-8 {	grid-column: span 8;	}
	.col-xl-9 {	grid-column: span 9;	}
	.col-xl-10 {grid-column: span 10;	}
	.col-xl-11 {grid-column: span 11;	}
	.col-xl-12 {grid-column: span 12;	}
}
.interview-num  {
	font-size: 3rem;
	margin: 0 auto;
	font-weight: bold;
}
.interview-1 h5,
.interview-2 h5,
.interview-2 p {
	font-size: 1.2rem;
	margin: 0 auto;
	font-weight: bold;
	/*width: 100%;*/
}
.interview-2 h5 {
	text-align: center;
}
.interview-2 p {
	font-size: 1.5rem;
}
.user-quote {
	position: relative;
	background-color: #efefef;
	border-radius: 5px;
	/*border: 1px solid red;*/
	margin: 1rem;
	padding: 0 1rem;
}
.user-quote p {
	padding: 1rem 1rem 1rem 2rem;
}
.quote {
	font-family: 'IM Fell Great Primer SC', serif;
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 10px;
	line-height: 2rem;
}
.quote:nth-child(1) {
	position: absolute;
	top: 12px;
	left: 5%;
	/*position: relative;*/
	/*top: 1rem;*/
	/*left: 5px;*/
}
.quote:nth-child(2) {
	position: absolute;
	bottom: 0;
	right: 4%;
	/*position: relative;*/
	/*top: 1rem;*/
	/*left: 5px;*/
}


.zoom-img {
	margin: 2em 0;
}
.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
	
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
	width: 100%;
    cursor: pointer;
    /*border: 1px solid red;*/
    border-radius: 5px;
    transition: all 0.3s;
}
.img-box-h {
	width: 0;
	height: 100%;
}
.img-box:hover {
    /*opacity: 0.9;*/
}
.img-box::before {
    content: '';
    display: block;
    /*padding-top: 70%;*/
}
.img-box>img {
	position: absolute;
}
.img-box-synthesis.img-box {
	overflow: hidden;
	width: 50%;
}
.img-box-synthesis.img-box p {
	font-size: .3rem;
	line-height: 0.7rem;
}

.img-box-synthesis.img-box::before {
    padding-top: 100%;
}
.img-box-logotype.img-box::before {
    padding-top: 30%;
}
.img-box-type.img-box::before {
	padding-top: 45%;
}
.img-box-color.img-box::before {
	padding-top: 30px;
}


.persona img {
	/*border: 1px solid var(--color-purple-dark);*/
	box-shadow: 1px 1px 10px #ddd; 
}
.zoom-img .test-num img {

	width: 50%;
	/*max-height: 100px;*/
}
strong {
    color: #00B2BF;
}
.redesign-goals>div {
	border: 2px solid rgba(0,178,191,0.2);
	/*background-color: rgba(0,178,191,0.1);*/
	border-radius: 5px;
	padding: 1rem 2rem 2rem 2rem;
}
.list-circle {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #00B2BF;
	margin: 0 1rem 0 0;
}