
.container {
    height: 100%;
    width: 100%;
    position: absolute;
    /*padding-bottom: 300px;*/
}

.menu {
    width: 100%;
    height: 120px;
    /*border: 1px solid red;*/
}
.menu .menu-link {
    display: inline-block;
    position: absolute;
    right: 20%;
    
}
.menu .menu-link li {
    display: inline-block;
    line-height: 120px;
    width: 80px;
}
.menu .menu-logo {
    position: absolute;
    left: 20%;
    font-family: 'Exo', 'Roboto', sans-serif;
    line-height: 120px;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    /*margin-bottom: 80px;*/
}
.menu a {
    color: #666;
    transition: all 0.2s;
}
.menu a:hover {
    color: #111;
    /*font-weight: bolder;*/
    /*border-bottom: 2px solid #111;*/
}
.menu a.active {
    color: #ccc;
}

.portfolio-menu {
   width: 100%;
   padding-bottom: 150px;
}

.pf-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    /*padding: 20px;*/
    transition: all 0.3s;
    cursor: pointer;
    /*border: 1px solid red;*/
    border-radius: 10px;
}
.pf-box:hover {
    opacity: 0.9;
}
.pf-box::before {
    content: '';
    display: block;
    padding-top: 70%;
}
.pf-box a {
    position: absolute;
    /*margin: auto;*/
   /* top: -17%;
    left: 0;*/
    
    /*min-height: 100%;*/
    /*width: 100%;*/
}
.pf-box img{
    /*position: absolute;*/
    margin: auto;
    top: -17%;
    left: 0;
    
    /*min-height: 100%;*/
    width: 100%;
}
.pf-box img:hover {
    opacity: 0.8;
}

.pf-tag .tag:nth-child(1) {
    margin-left: 0;
}
.pf-tag .tag {
    background-color: #f3f5f9;
    border: 1px solid #f3f5f9;
    border-radius: 3px;
    color: #405379;
    font-size: 10px;
    letter-spacing: .5px;
    margin: 0 2px;
    padding: 3px 4px 2px;
    text-transform: uppercase;
    white-space: nowrap;
}

.section-title {
    margin: 5rem 0 1rem 0;
}
.zoom-img {
    /*border: 1px solid red;*/
}
.zoom-img img {
    width: 100%;
    cursor: zoom-in;
}











.about-intro {
    /*margin: 3rem 0;*/
    padding-top: 3rem;
}
.profile-photo-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;

}
.profile-photo {
    position: absolute;
    top: 0%;
    left: 10%;
    /*bottom: 0;*/
    width: 80%;
    height: 100%;
    
    box-sizing: border-box;
    overflow: hidden;
    /*border: 1px solid green;*/
    /*border-radius: 50%;*/
    border-radius: 5px;
    
}
.profile-photo img {
    position: absolute;
    /*top: 0;*/
    margin: auto;
   /* bottom: 0;
    right: 0;
    left: 0;*/
    /*height: 100%;*/
    width: 100%;
    height: auto;
}
.profile-description {
    padding: 2em 3em;
}
.profile-description a {
    font-weight: bold;
}


.burger {
    display: none;
    position: absolute;
    top: 40px;
    width: 30px;
    /*height: 70px;*/
    right: 30px;
    cursor: pointer;
    /*border: 1px solid red;*/

}
.burger .line {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #424242;
    margin-bottom: 5px;
}
#menu_open{
    z-index: 2;
    }
#menu_close {
    z-index: 2;
    display: none;
    /*transform: translateX(15px) rotate(-45deg) translateY(-10px);*/
}
#menu_close .line {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #424242;
    margin-bottom: 0;
}
#menu_close .line:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}
#menu_close .line:nth-child(2) {
    transform: rotate(45deg);
}
.icon li {
    display: inline-block;
 }
.icon img {
    fill: #fff;
    width: 25px;
    height: 25px;
}

.patterns {
    border: 1px solid #ccc;
    overflow: hidden;
}
.pattern_1,
.pattern_2,
.pattern_3 {
    width: 400%;
    height: 200%;
    transform: translateX(-40%) translateY(-30%) rotate(45deg);

}
.patterns:nth-child(3) {
    background-color: #0a1f48;
}
.pattern_1 {
    background-color: #fff;
    background-image: linear-gradient(45deg, #b8cdde 25%, transparent 25%, transparent 75%, #235B9E 75%, #235B9E),
    linear-gradient(45deg, #235B9E 25%, transparent 25%, transparent 75%, #b8cdde 75%, #b8cdde);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;

}
.pattern_2 {
    /*background-color: #0a1f48;*/
    background-image: linear-gradient(45deg, #235B9E 25%, transparent 25%, transparent 75%, #b8cdde 75%, #b8cdde),
    linear-gradient(45deg, #b8cdde 25%, transparent 25%, transparent 75%, #235B9E 75%, #235B9E);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    opacity: 8%;
}

.pattern_3 {
    background-color: #fff;
    background-image: linear-gradient(45deg, #235B9E 25%, transparent 25%, transparent 75%, #b8cdde 75%, #b8cdde),
    linear-gradient(45deg, #b8cdde 25%, transparent 25%, transparent 75%, #235B9E 75%, #235B9E);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    opacity: 8%;
}



@media screen and (max-width: 768px)
{

    #photo-nav {
        display: none;
    }
}